.container {
  position: relative;
  overflow: auto;
}
.wrapper {
  height: 100%;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 10px;
}
.btnWrapper {
  display: flex;
  justify-content: center;
}
