.container {
  position: relative;
}
.project {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
  background-color: #262626;
  border-radius: 6px;
  font-size: 17px;
  color: white;
  box-shadow: 7px 7px 6px 2px #212121;
}
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
.fake {
  width: 25px;
  height: 25px;
}
.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}
.content.show {
  max-height: 200px;
  transition: max-height 0.3s ease-in-out;
}
.ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 12px 15px 15px 50px;
  list-style: none;
}
.ul > li {
  background-color: #262626;
  border-radius: 6px;
  font-size: 17px;
  color: white;
  box-shadow: 7px 7px 6px 2px #212121;
}
.link {
  padding: 8px 15px;
  display: flex;
  white-space: nowrap;
}
.colorPicker {
  position: absolute;
  top: 8px;
  left: 8px;
  /* transform: translate(-50%, -50%); */
}
.admin {
  position: absolute;
  top: 8px;
  right: 8px;
}