.container  {
  position: relative;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding-top: 4px;
}
.header {
  margin-bottom: 40px;
  padding-left: 13px;
  font-weight: bold;
  font-size: 43px;
}