.content {
  position: absolute;
  padding: 15px;
  width: 250px;
  height: 100px;
  background-color: yellow;
}
.label {
  font-weight: bold;
}
.inputWrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}
.btnWrapper {
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 5px;
}