.container {
  display: grid;
  grid-template-columns: 440px auto;
  gap: var(--layout-gap);
  padding: var(--layout-gap);
  height: 100%;
}
.content {
  /* flex: 1;
  overflow-y: auto; */
  overflow-x: auto; /* 가로 스크롤 허용 */
  white-space: nowrap;
  padding: var(--layout-padding);
  background-color: var(--layout-bg);
  border-radius: var(--layout-radius);
}