.modalWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.color {
  cursor: pointer;
  /* width: 3rem; */
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem;
}
.jobWrapper {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-bottom: 15px;
}
.jobResult {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .375rem .75rem;
  border-radius: .375rem;
  background-color: #262626;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f0f0f0;
  box-shadow: inset 4px 4px 11px -2px black;
}
.btnWrapper {
  display: flex;
  justify-content: right;
  gap: 5px;
}