.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15px;
}
.buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.inviteWrapper {
  display: flex;
  flex-direction: row;
  
}