.task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10px;
  padding: 5px 18px;
  height: 34px;
  color: black;
  font-weight: bold;
  font-size: 17px;
  box-shadow: 4px 4px 11px -2px black;
}